h1,input
{
	text-align: center;
}
input
{
	text-align: center;
	display: inline-block;
}
.big-container 
{
	display: grid;
	grid-template-columns: repeat(autofit, minmax(200fr, 300fr));
	grid-gap: 200em;
	/*grid-auto-flow: row-dense;*/
 }
.container 
{
	display: grid;
	grid-template: repeat(2,minmax(1px, 150px)) / repeat(4,minmax(1px, 100px)); 
	display: inline-block;
	max-width: 200px;
	height: 150px;
	margin: 0.5em 1em 0.5em 0.25em;
	background-color: gray;	
}
.buttons.remove
{
	/*display: inline-block;*/
	/*grid-column: end / span 1;*/
	border: 1px solid black;
	/*width: 2px;
	height: 2px;
	align-items: flex-end;*/
	background-color: red;
}
.buttons.edit
{
	border: 1px solid black;
	background-color: blue;
}
.text-container
{
	border: solid black;
	width: 150px;
	height: 150px;
	max-width: 150px;
	max-height: 100px;
	/*margin: 10px;*/
	margin: auto;
	overflow: scroll;
	word-wrap: break-word;
	/*align-self: center;*/
	background-color: white;
	color: black;	
}